*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-transform: capitalize;

}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,rgb(0, 255, 255) 50%, #032646 50%);
}
.container{
    background-color: rgb(254, 156, 156);
    padding: 15px;
    width: 450px;
    min-height: 350px;
    box-shadow: 0 5px  10px rgba(0,0, 0, 0.6);
    border-radius: 5px;
   
    
}
#userinput{
    height: 60px;
    outline: none;
    border: none;
    border-radius: 10px;
   width: 100%;
   background-color: #032646;
   color: white;
   font-size: 25px;
  margin: 15px 0;
  padding: 0 10px;
}
#input::placeholder{
    color: #bbb
}

ul li{
    background: #eee;
    color: #333;
    height: 40px;
    border-radius: 50px;
    margin: 10px 0;
    padding: 10px;
    list-style-type:none;
    position: relative;
}
ul .fa-check, .fa-trash{
    position: absolute;
    cursor: pointer;
}
ul .fa-check{
    right: 40px;
    color: green;
}
ul .fa-trash{
    right: 15px;
    color: green;
}
ul .checked{
    background-color: lightgoldenrodyellow;
    text-decoration: line-through;
    transition: 0.2s;
}